{% extends "layout.html" %}
{% block content %}
<br>
<br>
<div class="row-fluid">
	<div class="span8 offset2" style="text-align: center">
		<table class="table table-striped table-bordered">
			<caption>Comparing {{", ".join(result.keys())}}.</caption>
			<thead>
				<tr>
					<th> Term </th>
					<th> Positive </th>
					<th> Negative </th>
					<th> Neutral </th>
				</tr>
			</thead>
			<tbody>
				{% for term, stats in result.iteritems() %}
				<tr> 
					<td> <a href="/search/{{term}}">{{ term }}</a> </td>
					<td> {{ stats['pct_pos'] }} </td>
					<td> {{ stats['pct_neg'] }} </td>
					<td> {{ stats['pct_neu'] }} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
