<!DOCTYPE html>
<html lang="en">
<head>
<!-- Boostrap -->
<link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>FlockThink</title>
</head>
<body>

<div class="jumbotron" style="margin-top: 50px; text-align:center">
		<h1>Welcome to FlockThink</h1>
		FlockThink is the Twitter search engine for instant sentiment analysis.
		<br>
		{% if term %}
		<h4 class="text-error">No Twitter results for {{term}}.</h4>
		{%endif%}
		<br>
		<form class="form-search search-query" action="/search" method="POST" >
	  	<p><input type="text" name='search_text' placeholder='@sxsw, #iphone, goodreads' class="input-large search-query"> </p>
	  	<p><button type="submit" class="btn btn-large btn-primary">Search</button> </p>
		</form>
</div>

<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>