<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Boostrap -->
	<link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link type="text/css" href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/jqcloud.css" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>
		{% if text %} 
			 FlockThink search: {{text['term']}}
		{% else %}
			FlockThink
		{% endif %}
	</title>
</head>


<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href="/">FlockThink</a>
	        <ul class="nav">
	          <li><a href="/about">About</a></li>
	        </ul>
			<div class="navbar-form pull-right">
				<form class="navbar-form pull-right" action="/search" method="POST" >
				  	<input type="text" name='search_text' placeholder='@sxsw, #iphone, goodreads' class="span3">
				  	<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
	    </div>
	  </div>
	</div>
	<br>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	<footer style="text-align:right;">
		FlockThink by <a href="http://twitter.com/KeokiSeu/">Keoki Seu</a> &nbsp;
	</footer>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
</body>

</html>